
body ::selection { 
	background:#50ab50; 
	color:white; 
}

body ::-moz-selection { 
	background:#50ab50; 
	color:white; 
} 

/* Primary Color */
a,
a.reverse:hover, 
a.reverse:focus {
    color: #50ab50;
}

.color-light {
    color: #50ab50;
}

.right-top i {
    color: #BED630;
}

@media (min-width: 992px) {
.navbar-nav > li > a:before {
    border-bottom: 5px solid #BED630;
}
}

.btn-type1:hover {
    background: #50ab50;
}

.btn-type1-reverse {
    background: #0095D9;
}

.btn-simple-color {
    border: 1px solid #50ab50;
	color: #50ab50;
}

.read-more:hover {
    color: #50ab50;
}

.cta-content:hover .mask {
    background: #50ab50;
}

*[class*="list-type1"] li:before {
    color: #50ab50;
}

.panel-title:not(.collapsed):hover,
.panel-title:hover, 
.panel-heading:hover a::after {
    color: #50ab50;
}

.slider1 .banner-thumbs ul.slider-thumbnails li.active {
    border-top: 4px solid #BED630;
}

.location-box li:before {
    background: #50ab50;
}

/*.hover-hide-show-content .list-group-item:hover a, 
.hover-hide-show-contentbutton.list-group-item:hover, 
.hover-hide-show-content .list-group-item:focus a, 
.hover-hide-show-content button.list-group-item:focus {
    color: #50ab50;
}
*/
.sidebar-bg-light, 
.finance:before {
    background: #6dc36d;
}

.finance-content span {
    color: #b5efb5;
}

.color-box {
    background: #50ab50;
}

.download-btn i {
    color: #50ab50;
}

.foot_icon {
    color: #50ab50;
}

.semi-circle {
    background: #50ab50;
}

.footer a:hover,
.footer .copyright a {
	color: #50ab50;
}

.footer .footer-call i:before, 
.footer .list-type1 li:before {
    color: #50ab50;
}

.footer-social-bg ul li a {
	background:#50ab50;
}

.footer-strip .back-to-top, 
.footer-strip .footer-bottom-border {
    background: #50ab50;
}

.footer-strip .back-to-top i {
    color: #50ab50;
}

.back-to-top-fixed:hover {
    background: #50ab50;
}

.social-icons-simple.social-bg-grey li:hover a {
    background: #50ab50;
}

.login-form .panel-heading {
    background: #50ab50;
}

*[class*="quotes"]::before, 
*[class*="quotes"]::after {
    color: #50ab50;
}

.icon-bordered {
    border: 3px solid #50ab50;
}
/* // Primary Color */

/* Primary RGBA Color */
.subbanner-type-2 .breadcrumb,
.subbanner-type-2 .resizer-bg {
    background: #0095D9;
}

.case-table tr:nth-child(even) {
    background: rgb(125,200,85);
}


.case-table tr:nth-child(odd) {
    background: rgb(190,214,232);
}

/* // Primary RGBA Color */

/* Primary Dark Color */
.btn-type1 {
    background: #BED630;
}

.btn-type1-reverse:hover {
    background: #449d44;
}

.read-more {
	color: #449d44;
}

.circle-icon {
    background: #BED630;
}

.consultation:before, 
.sidebar-bg-dark {
    background: #449D44;
}

.btn-type1.btn-type1-reverse:hover, 
.btn-type1-reverse:hover, 
.btn-type1-reverse.selected {
    background: #449d44;
}

.footer .copyright a:hover {
    color: #449d44;
}
/* // Primary Dark Color */

/* Primary Dark RGBA Color */

.thumbnail {
	border: 4px solid rgba(68, 157, 68, 1);
}
/* // Primary Dark RGBA Color */

/* Secondary Color */
.top-bar {
    background: #082C46;
    border-bottom: 1px solid #082C46;
}

.navbar-inverse {
    background-color: #082C46;
    border-color: #082C46;
}

@media (min-width: 992px) {
.dropdown-menu li a:hover, 
.dropdown-menu li a:focus {
    background: rgba(255,255,255,.07);
}
}

.slicknav_nav,
.slicknav_nav .dropdown-menu a:hover {
    background: #082C46;
}

.btn-simple-color:hover {
    background: #082c46;
}

.subbanner-type-2.subbanner .breadcrumb > li + li:before {
    color: #082C46;
}

.mask {
    background: #082c46;
}

.slider1 .banner-thumbs ul.slider-thumbnails li a span {
    background: #082c46;
}

.list-type2 li:hover a, .list-type2 li.active a, 
.list-type2 li.current a, 
.sidebar-menu .nav-tabs > li.active > a, 
.sidebar-menu .nav-tabs > li.active > a:hover, 
.sidebar-menu .nav-tabs > li.active > a:focus {
    background: #0a82b9;
}

.list-type2 li:hover:after, 
.list-type2 li.active:after, 
.list-type2 li.current:after {
    border-left: 20px solid #0a82b9;
}

.condition-box {
    color: #082C46;
}

.side-menu .list-group-item:hover a {
	background: #082C46;
}

.hover-content .list-group {
    background-color: #1d84b5;
}

.case-table tr:nth-child(odd) {
    color: #082c46;
}

.case-table {
    border: 5px solid #082c46;
}

.color-box *[class*="list-type1"] li:before {
    color: #324c73;
}

.color-light-bg {
    background: #082c46;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #082c46;
    border-color: #082c46;
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus, 
.pagination > li > a, 
.pagination > li > span {
    color: #082c46;
}

.footer-social-bg ul li a:hover {
	background:#082C46;
}

.footer-strip .back-to-top i {
    background: #082C46;
}

.icon-bordered {
    color: #082C46;
}

/* // Secondary Color */

/* Secondary RGBA Color */
.play-button a:before {
    background: rgba(8,44,70, .7);
}

.play-button a:hover:before {
    background: rgba(8,44,70, 1);
}

.owl-theme .owl-controls .owl-buttons div:hover {
    background: rgba(8,44,70,1);
}

.image-effect2 figcaption {
    background: rgba(8,44,70, .75);
}

.image-effect2 figcaption .gallery-icon:hover {
    background: rgba(8,44,70, 1);
}

.rs-overlay {
    background: rgba(8,44,70,0.9);
}

.slider-light .rs-overlay {
    background: rgba(8,44,70,0.45);
}

.color-overlay {
    background: rgba(8,44,70, .9);
}

.mask-img:after {
	background: rgba(8,44,70,0.4);
}

.panel-dark {
	background: rgba(8,44,70, .5);
}

.before-after .bx-caption, 
.before-after .bx-caption:before {
    background: rgba(8,44,70, 0.75);
}

.bx-wrapper .bx-controls-direction a:hover {
    background: rgba(8,44,70,1);
}

.before-after .view-gallery i:hover {
    background: rgba(8,44,70,1);
}

.ekko-lightbox .fa-chevron-left:hover, 
.ekko-lightbox .fa-chevron-right:hover {
    background: rgba(8,44,70,1);
}

.offer-circle {
    background: rgba(8,44,70, .75);
}

.condition-box:after,
.condition-box:hover:after {
    background: rgba(8,44,70,0.85);
}

.case-table th {
    background: rgba(8,44,70,0.95);
}

#foot_top:hover {
    background: rgba(8,44,70, 1) url(../../images/map.png) fixed;
}

.location-details {
    background: rgba(8,44,70, .89);
}

.location-box li:hover,
.location-box li:hover:last-child {
    background: rgba(8, 44, 70,.98);
}

.dropdown .btn-primary, 
.form-group .open > .dropdown-toggle.btn-primary:hover, 
.form-group .dropdown-toggle.btn-primary:active:focus, 
.form-group .open > .dropdown-toggle.btn-primary:focus, 
.form-group .open > .dropdown-toggle.btn-primary {
    background: rgba(8,44,70, 1);
}

.form-group .open > .doctors-dropdown {
    border: 3px solid rgba(8,44,70, 1);
}

input:focus, 
textarea:focus,
.appointment input:focus, 
.appointment textarea:focus,
.order-form input:focus, 
.order-form textarea:focus,
.form-control:focus { 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(8,44,70, 0.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(8,44,70, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(8,44,70, 0.8); 
}

.footer:before {
    background: rgba(8,44,70, .9);
}

.back-to-top-fixed {
    background: rgba(8,44,70,1);
}
/* // Secondary RGBA Color */

/* Other Color */
.tp-caption.miami_content_light, .miami_content_light {
    color: #B6C4D0;
}

.center-banner-title {
    color: #B6C4D0;
}

.center-banner-content p {
    color: #B6C4D0;
}

.top-bar ul li:first-child {
    border-left: 1px solid #264963;
}

.top-bar ul li {
    border-right: 1px solid #264963;
}

/*.hover-content .list-group-item {
    border: 1px solid #264963;
}*/

h1, h2, h3, h4, h5 {
    color: #0095D9;
}

.cta-section h2 {
    color: #124870;
}

.panel-title {
	color:#108ec7;
}

@media (min-width: 992px) {
.navbar .mega-dropdown-menu .menu-head {
	color: #eef4f9;
}
}

.panel-title:not(.collapsed), 
.panel-heading a::after {
    color: #124870;
}

footer,
.footer p, 
.footer a,
footer .table-min .dl-horizontal dt {
    color: #b0c3d2;
}

.panel-dark p {
	color: #b4c4d2;
}

.footer-strip-menu a:after {
    background: rgba(120, 120, 120, 0.4);
}
/* // Other Color */

.navbar-default .navbar-nav > .open > a, 

.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-nav > li > a:hover:before {
	/*color:#124870;*/
        color: #2AA6DE;
}
li.headerColor > a:hover{
    color: #2AA6DE !important;
}

.slider-light .tp-caption.miami_content_light, .miami_content_light {
	color:#fff;
}



.mask-img:after {
	background: rgba(8,44,70,0.4);
	opacity:1;
}

.mask-img:hover:after {
	opacity:0 !important;
}